<%= link_to article_path(article), class: "cursor-pointer" do %>
  <div id="<%= dom_id article %>" class="border border-stone-300 rounded-md p-6 mb-6">
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= article.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Author:</strong>
      <%= article.author %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Body:</strong>
      <%= article.body %>
    </p>
  </div>
<% end %>
