<div class="p-4 w-full" data-controller="search">
  <h1 class="text-5xl font-bold text-center mb-6 text-red-500">Articles</h1>

  <div class="flex flex-col">
    <%= form_with url: articles_path, method: :get, id: "search-form", data: { controller: "search", action: "input->search#search" } do |form| %>
      <%= form.text_field :query, id: "search-query", value: params[:query], placeholder: "Search", class: "w-full mb-2 rounded-md", data: { target: "search.query" } %>
    <% end %>
    <%= link_to "Search Analytics", analytics_path, class:"bg-red-600 p-2 text-white rounded-md w-fit" %>
  </div>

  <div id="search-results" class="p-4">
    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
  </div>

  <%= link_to "New article", new_article_path, class:"bg-red-600 p-2 text-white rounded-md w-fit" %>
</div>
